<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Clientes</title>

    <!-- Link para el uso de iconos de boostrap -->
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
        rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/navbar.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/Inicio.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/usuariofacturacion.css">
    <link type="text/css" rel="stylesheet" href="ruta/a/sweetalert.css">

    <!-- Link para el uso de las librerias de css de boostrap -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">

</head>

<body>
    <div class="grid-container">
        <!-- Navbar -->
        <aside></aside>

        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <h3 class="fw-bold fs-4 mb-3">Clientes</h3>

                <!-- Boton para agregar a nuevo usuario -->
                <button type="button" class="btn btn-warning float-start" data-bs-toggle="modal"
                    data-bs-target="#crearModal" onclick="openCreate()"><i class="bi bi-file-earmark-plus"></i> Agregar Cliente</button>
            </div>

            <!-- Tabla de registros: Clientes -->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td colspan="6" id="rowsFound"></td>
                                    </tr>
                                    <tr class="highlight">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Dui</th>
                                        <th scope="col">NIT</th>                                     
                                        <th scope="col">Correo</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                
                                <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                <tbody id="tableBodyClientes"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para editar cliente -->
            <div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar cliente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="nombre_cliente" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" placeholder="Nombre">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="apellido_cliente" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido_cliente" name="apellido_cliente" placeholder="Apellido">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="dui_cliente" class="form-label">DUI</label>
                                    <input type="text" class="form-control" id="dui_cliente" name="dui_cliente" placeholder="12345678-9"
                                        maxlength="10">
                                    <small id="duiHelp" class="form-text text-muted">Debe tener el formato ########-#</small>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="nit_cliente" class="form-label">NIT</label>
                                    <input type="text" class="form-control" id="nit_cliente" name="nit_cliente" placeholder="1234-567890-123"
                                        maxlength="13">
                                    <small id="nitHelp" class="form-text text-muted">Debe tener 13 dígitos
                                        numéricos.</small>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="email_cliente" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="email_cliente" name="email_cliente" placeholder="usuario@dominio.com">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
                                </div>  
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" id= "guardarUsuario">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para agregar un nuevo cliente -->
            <div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar cliente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <!-- Formulario para crear o actualizar un registro -->
                        <form id="saveForm">
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                                    <input type="number" class="d-none" id="id_cliente" name="id_cliente">

                                    <div class="col-md-6 mb-3">
                                        <label for="nombre_cliente" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" placeholder="Nombre">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="apellido_cliente" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="apellido_cliente" name="apellido_cliente" placeholder="Apellido">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="dui_cliente" class="form-label">DUI</label>
                                        <input type="text" class="form-control" id="dui_cliente" name="dui_cliente" placeholder="12345678-9"
                                            maxlength="10">
                                        <small id="duiHelp" class="form-text text-muted">Debe tener el formato ########-#</small>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="nit_cliente" class="form-label">NIT</label>
                                        <input type="text" class="form-control" id="nit_cliente" name="nit_cliente" placeholder="1234-567890-123"
                                            maxlength="13">
                                        <small id="nitHelp" class="form-text text-muted">Debe tener 13 dígitos
                                            numéricos.</small>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="email_cliente" class="form-label">Correo</label>
                                        <input type="email" class="form-control" id="email_cliente" name="email_cliente" placeholder="usuario@dominio.com">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="telefono" class="form-label">Teléfono</label>
                                        <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
                                    </div>                                    
                                    <div class="col-md-6 mb-3">
                                        <label for="contraseña_cliente" class="form-label">Contraseña</label>
                                        <input type="text" class="form-control" id="password_cliente" name="password_cliente" placeholder="Contraseña">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning" id="AgregarUsuario">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
        </main>
        <!-- End Main -->
    </div>
    <!-- End div grid-container -->

        <!-- JavaScript -->
        <!-- archivo de js para las librerias del uso correcto de boostrap -->
        <script  type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>

        <!-- archivo de js para libreria de alertas -->
        <script  type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- archivo de js para libreria de iconos para el navbar -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

        <!-- Custom JS -->
        <script  type="text/javascript" src="../../controllers/admin/cliente.js"></script>
        <script  type="text/javascript" src="../../resources/js/alertas.js"></script>
</body>
</html>