<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprobante Crédito Fiscal</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/navbar.css">
    <link rel="stylesheet" href="../../resources/css/Inicio.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="grid-container">
        <!-- Sidebar -->
        <aside></aside>
        <!-- End Sidebar -->

        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <h3 class="fw-bold fs-4 mb-3">Usuarios para Crédito Fiscal</h3>
                <div class="row">
                    <div class="col-6">
                        <form class="d-flex" id="formBuscar">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar nombre del cliente..." name="buscarUsuario" id="buscarUsuario" oninput="verificarReset()">
                            <button class="btn" type="submit">
                                <img src="../../resources/img/lupa.png" class="img-fluid" width="35px" height="35px" alt="buscando">
                            </button>
                        </form>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-warning float-end" onclick="openCreate()">
                            <i class="bi bi-file-earmark-plus"></i> Agregar usuario
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" data-aos="fade-up">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            
                            <table class="table table-striped">
                                <thead>
                                    <tr class="highlight">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">DUI</th>
                                        <th scope="col">NCR</th>
                                        <th scope="col">Departamento</th>
                                        <th scope="col">Municipio</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Teléfono</th>
                                        <th scope="col">Actividad Económica</th>
                                        <th scope="col">NIT</th>
                                        <th scope="col">Descripción del Servicio</th>
                                        <th scope="col">Monto del Servicio</th>
                                        <th scope="col">Fecha de Emisión</th>
                                        <th scope="col">Tipo de Servicio</th>
                                        <th scope="col">Servicio</th>
                                        <th scope="col">Clientes</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="usuariosTableBody">
                                    <!-- Aquí van los datos dinámicos generados por JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End Main -->

        <!-- Modales -->
        <div class="modal fade" id="modalServicio" tabindex="-1" aria-labelledby="modalServicioLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalServicioLabel">Agregar usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="formServicio">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="descripcionServicio" class="form-label">Descripción del Servicio</label>
                                    <input type="text" class="form-control" id="descripcionServicio" name="descripcion" placeholder="Descripción del Servicio" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="montoServicio" class="form-label">Monto del Servicio</label>
                                    <input type="number" class="form-control" id="montoServicio" name="monto" placeholder="Monto" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="tipoServicio" class="form-label">Tipo de Servicio</label>
                                    <select class="form-select" id="tipoServicio" name="tipo_servicio" required>
                                        <option value="" selected>Selecciona una opción</option>
                                        <option value="Credito Fiscal">Crédito Fiscal</option>
                                        <option value="Factura Consumidor Final">Factura Consumidor Final</option>
                                        <option value="Factura Sujeto Excluido">Factura Sujeto Excluido</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="id_servicio" class="form-label">Servicio</label>
                                    <select class="form-select" id="id_servicio" name="id_servicio" required>
                                        <!-- Opciones dinámicas cargadas desde la base de datos -->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="id_cliente" class="form-label">Clientes</label>
                                    <select class="form-select" id="id_cliente" name="id_cliente" required>
                                        <!-- Opciones dinámicas cargadas desde la base de datos -->
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="ncr" class="form-label">NCR</label>
                                    <input type="text" class="form-control" id="ncr" name="ncr" placeholder="NCR">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="actividadEconomica" class="form-label">Actividad Económica</label>
                                    <input type="text" class="form-control" id="actividadEconomica" name="actividad_economica" placeholder="Actividad Económica">
                                </div>
                                <div class="col-md-6">
                                    <label for="fechaEmision" class="form-label">Fecha de Emisión</label>
                                    <input type="date" class="form-control" id="fechaEmision" name="fecha_emision" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-warning">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal eliminar -->
    <div class="modal fade" id="borrarModalServicio">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formEliminar">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tituloModalEliminar"></h1>
                        <input type="number" class="d-none" id="idFactura" name="idFactura">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-primary" onclick="eliminarServicio()">Eliminar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- SweetAlert JS -->
    
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
   
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/componentes.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/admin/Credito_fiscal.js"></script>
</body>
