<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprobante Crédito Fiscal</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/navbar.css">
    <link rel="stylesheet" href="../../resources/css/Inicio.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
    <div class="grid-container">
        <!-- Sidebar -->
        <aside></aside>
        <!-- End Sidebar -->

        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <h3 class="fw-bold fs-4 mb-3">Usuarios para Crédito Fiscal</h3>
                <button type="button" class="btn btn-warning float-start" data-bs-toggle="modal" data-bs-target="#modalServicio"><i class="bi bi-file-earmark-plus"></i> Agregar usuario</button>
            </div>
            <hr>
            <div class="row" data-aos="fade-up">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="highlight">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">DUI</th>
                                        <th scope="col">NCR</th>
                                        <th scope="col">Departamento</th>
                                        <th scope="col">Municipio</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Teléfono</th>
                                        <th scope="col">Actividad Económica</th>
                                        <th scope="col">NIT</th>
                                        <th scope="col">Descripción del Servicio</th>
                                        <th scope="col">Monto del Servicio</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="usuariosTableBody">
                                    <!-- Aquí van los datos dinámicos generados por JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End Main -->

        <!-- Modales -->
        <div class="modal fade" id="modalServicio" tabindex="-1" aria-labelledby="modalServicioLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalServicioLabel">Agregar usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                            </div>
                            <div class="col-md-6">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="dui" class="form-label">DUI</label>
                                <input type="number" class="form-control" id="dui" placeholder="12345678-9" maxlength="10">
                                <small id="duiHelp" class="form-text text-muted">Debe tener 9 dígitos y un guion al final.</small>
                            </div>
                            <div class="col-md-6">
                                <label for="ncr" class="form-label">NCR</label>
                                <input type="number" class="form-control" id="ncr" placeholder="12345678-9" maxlength="10">
                                <small id="ncrHelp" class="form-text text-muted">Debe tener 9 dígitos y un guion al final.</small>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="departamento" class="form-label">Departamento</label>
                                <input type="text" class="form-control" id="departamento" placeholder="Departamento">
                            </div>
                            <div class="col-md-6">
                                <label for="municipio" class="form-label">Municipio</label>
                                <input type="text" class="form-control" id="municipio" placeholder="Municipio">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="correo" placeholder="usuario@dominio.com">
                            </div>
                            <div class="col-md-6">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="actividadEconomica" class="form-label">Actividad Económica</label>
                                <input type="text" class="form-control" id="actividadEconomica" placeholder="Actividad Económica">
                            </div>
                            <div class="col-md-6">
                                <label for="nit" class="form-label">NIT</label>
                                <input type="text" class="form-control" id="nit" placeholder="NIT">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="descripcionServicio" class="form-label">Descripción del Servicio</label>
                                <textarea class="form-control" id="descripcionServicio" placeholder="Descripción del Servicio"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="montoServicio" class="form-label">Monto del Servicio</label>
                                <input type="number" class="form-control" id="montoServicio" placeholder="Monto">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-warning" id="guardarServicioBtn">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SweetAlert JS -->
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/admin/Credito_fiscal.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/componets.js"></script>

</body>

</html>
