<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Factura de sujeto excluido</title>

    <!-- Link para el uso de iconos de boostrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
        rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../resources/css/navbar.css">
    <link rel="stylesheet" href="../../resources/css/Inicio.css">
    <link rel="stylesheet" href="../../resources/css/usuariofacturacion.css">
    <link rel="stylesheet" href="ruta/a/sweetalert.css">

    <!-- Link para el uso de las librerias de css de boostrap -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">

</head>

<body>
    <div class="grid-container">
        <!-- Navbar -->
        <aside></aside>

        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <h3 class="fw-bold fs-4 mb-3">Usuarios para Factura de sujeto excluido</h3>
            </div>
            <hr>
            <div class="row mt-5 row-gap-3">
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <form class="d-flex" id="formBuscar">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar nombre del cliente..."
                            name="buscarUsuario" id="buscarUsuario" oninput="verificarReset()">
                        <button class="btn" type="submit"><img src="../../resources/img/lupa.png" class="img-fluid"
                                width="35px" height="35px" alt="buscando"></button>
                    </form>
                </div>
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <!-- Botón para abrir el modal -->
                    <button type="button" class="btn btn-warning float-end" onclick="abrirModal('Agregar usuario')"
                        data-bs-target="#modalSujeto"><i class="bi bi-file-earmark-plus"></i>Agregar
                        Usuario</button>
                </div>
            </div>

            <!-- Crud de los usuarios para facturacion -->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-13">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="highlight">
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Dui</th>
                                        <th scope="col">NIT</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Dirección</th>
                                        <th scope="col">Departamento</th>
                                        <th scope="col">Municipio</th>
                                        <th scope="col">Tipo de serivicio</th>
                                        <th scope="col">Descripción servicio</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Fecha de emisión</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Ana</th>
                                        <td>Rodríguez</td>
                                        <td>001234567-8</td>
                                        <td>001-234567-123-4</td>
                                        <td>San Salvador</td>
                                        <td>Santa Tecla</td>
                                        <td>anarodriguez@gmail.com</td>
                                        <td>70123456</td>
                                        <td><button type="button" class="btn btn-primary" id="btn_actualizar"
                                                data-bs-toggle="modal" data-bs-target="#modificarModal"><i
                                                    class="bi bi-pencil"></i></button> <button type="button"
                                                class="btn btn-danger" id="btn_eliminar"><i
                                                    class="bi bi-trash"></i></button> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Carlos</th>
                                        <td>Rodríguez</td>
                                        <td>009876543-2</td>
                                        <td>009-876543-210-5</td>
                                        <td>La Libertad</td>
                                        <td>Antiguo Cuscatlán</td>
                                        <td>carlosgarcia@gmail.com</td>
                                        <td>71234567</td>
                                        <td><button type="button" class="btn btn-primary" id="btn_actualizar"
                                                data-bs-toggle="modal" data-bs-target="#modificarModal"><i
                                                    class="bi bi-pencil"></i></button> <button type="button"
                                                class="btn btn-danger" id="btn_eliminar"><i
                                                    class="bi bi-trash"></i></button> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">María</th>
                                        <td>López</td>
                                        <td>005432100-1</td>
                                        <td>005-432100-987-6</td>
                                        <td>Santa Ana</td>
                                        <td>Metapán</td>
                                        <td>marialopez@gmail.com</td>
                                        <td>72345678</td>
                                        <td><button type="button" class="btn btn-primary" id="btn_actualizar"
                                                data-bs-toggle="modal" data-bs-target="#modificarModal"><i
                                                    class="bi bi-pencil"></i></button> <button type="button"
                                                class="btn btn-danger" id="btn_eliminar"><i
                                                    class="bi bi-trash"></i></button> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        </main>
        <!-- End Main -->

        <!-- Modal para editar usuario -->
        <div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="dui" class="form-label">DUI</label>
                                <input type="text" class="form-control" id="dui" placeholder="12345678-9"
                                    maxlength="10">
                                <small id="duiHelp" class="form-text text-muted">Debe tener 9 dígitos y un guion al
                                    final.</small>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="nit" class="form-label">NIT</label>
                                <input type="text" class="form-control" id="nit" placeholder="1234567890123"
                                    maxlength="13">
                                <small id="nitHelp" class="form-text text-muted">Debe tener 13 dígitos
                                    numéricos.</small>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="departamento" class="form-label">Departamento</label>
                                <input type="text" class="form-control" id="departamento" placeholder="Departamento">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="municipio" class="form-label">Municipio</label>
                                <input type="text" class="form-control" id="municipio" placeholder="Municipio">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="correo" placeholder="usuario@dominio.com">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning id=" guardarUsuario">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para agregar un nuevo usuario -->
        <div class="modal fade" id="modalSujeto" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tituloModal"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form id="formSujeto">
                        <!-- Cuerpo del modal -->
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-md">
                                            <label for="nombreSujeto" class="col-form-label"
                                                for="validationDefault01">Nombres:</label>
                                            <input type="text" class="form-control" id="idSujeto" name="idSujeto"
                                                required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="duiCliente" class="col-form-label"
                                                for="validationDefault02">DUI:</label>
                                            <input type="text" class="form-control" id="idDui" name="idDui"
                                                oninput="duiNacional(event)" required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="departamentoCliente" class="col-form-label"
                                                for="validationDefault03">Departamento:</label>
                                            <input type="text" class="form-control" id="idDepartamento"
                                                name="idDepartamento" required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="emailCliente" class="col-form-label"
                                                for="validationDefault04">Correo:</label>
                                            <input type="email" class="form-control" id="idEmail" name="idEmail"
                                                required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="descripcionServicio" class="col-form-label"
                                                for="validationDefault05">Descripción del
                                                servicio:</label>
                                            <input type="text" class="form-control" id="idDescripcion"
                                                name="idDescripcion" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-md">
                                            <label for="direccionCliente" class="col-form-label"
                                                for="validationDefault06">Dirección:</label>
                                            <input type="text" class="form-control" id="idDireccion" name="idDireccion"
                                                required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="municipioCliente" class="col-form-label"
                                                for="validationDefault07">Municipio:</label>
                                            <input type="text" class="form-control" id="idMunicipio" name="idMunicipio"
                                                required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="telefonoCliente" class="col-form-label"
                                                for="validationDefault08">Teléfono:</label>
                                            <input type="text" class="form-control" id="idTelefono" name="idTelefono"
                                                oninput="numeroNacional(event)" required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="nitCliente" class="col-form-label"
                                                for="validationDefault09">NIT:</label>
                                            <input type="text" class="form-control" id="idNit" name="idNit"
                                                oninput="validarNIT(event)" required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="monto" class="col-form-label" for="validationDefault10">Monto
                                                del
                                                servicio:</label>
                                            <input type="number" class="form-control" id="idMonto" name="idMonto"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer del modal -->
                        <div class="modal-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-warning" id="btnAccion">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- IMPORTANDO ARCHIVOS JAVASCRIPT -->
        <!-- archivo de js para libreria de alertas -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- archivo de js para libreria de iconos para el navbar -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

        <!-- Mandar a llamar el framework -->
        <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
        <!-- Mandar a llamar la librería de alertas -->
        <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
        <!-- Llamada al controlador general de la aplicación -->
        <script type="text/javascript" src="../../controllers/utils/componets.js"></script>
        <!-- Mandar a llamar el controlador de la página privada -->
        <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
        <!-- Mandar a llamar el controlador de sujeto excluido -->
        <script type="text/javascript" src="../../controllers/admin/sujeto_excluido.js"></script>
        <!-- Validar número de teléfono -->
        <script src="../../resources/js/validar_telefono.js"></script>
        <!-- Validar número de DUI -->
        <script src="../../resources/js/validar_dui.js"></script>
        <!-- Validar número de NIT -->
        <script src="../../resources/js/validar_nit.js"></script>

</body>

</html>