@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
  }
  .left-panel, .right-panel {
    height: 100%;
  }
  .left-panel {
    background-color: #FFA000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .right-panel {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 40px;
  }
  .login-form {
    width: 100%;
    max-width: 400px;
  }
  .login-form h2 {
    margin-bottom: 20px;
  }
  .login-form .form-control {
    margin-bottom: 10px;
  }
  .login-form .btn-primary {
    width: 100%;
  }