<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Inicio</title>
    <!--Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../resources/css/navbar.css">
</head>

<body>
    <div class="grid-container">

        <!-- Header -->
        <header></header>
        <!-- End Header -->

        <!-- Sidebar -->
        <aside></aside>
        <!-- End Sidebar -->
        <!-- Main -->
        <!-- End Main -->
    </div>
    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>

    <!-- Custom JS -->
    <script src="../../resources/js/components.js"></script>
    <script src="../../resources/js/admin.js"></script>
</body>

</html>